* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: rgba(250, 250, 250, 1);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

progress {
  width: 500px;
  height: 25px;
  display: block;
  -webkit-appearance: none;
  border: none;
  margin-top: 15px;
}

progress::-webkit-progress-bar {
  background: white;
  border-radius: 50px;
}

progress::-webkit-progress-value {
  border-radius: 50px;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background: #ffbe22;
}
